@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {
    font-family: "MonumentGroteskBold";
    src: url("../fonts/MonumentGrotesk-Bold.ttf");
}

* {
    cursor: none;
}

*::selection {
    background: rgba(90, 90, 90, 0.4);
}

:root {
    --bs-form-switch-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e)!important;
}

html {
    scroll-behavior: smooth;
    transition: .2s filter;
}

body {
    background-image: linear-gradient(90deg, rgba(6, 6, 6, 0.96), rgba(34, 34, 34, 0.96)), url("../img/noise.gif");
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

header {
    backdrop-filter: blur(18px);
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 99;
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

header a {
    text-decoration: none;
    color: var(--bs-heading-color);
}

header a::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 18px;
    background-color: rgba(223, 227, 231, 0.1);
    position: relative;
    left: 12px;
    transform: translateY(3px);
    pointer-events: none;
}

header a:last-child::after {
    display: none;
}

.wrapper-header {
    background-color: rgba(255, 255, 255, 0.05);
    width: fit-content;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 12px;
}

#my-work {
    scroll-margin-top: 124px;
}

#experience {
    scroll-margin-top: 37vh;
}

.switch-width {
    top: 0;
    bottom: 0;
    padding-right: 1rem !important;
}

.switch-size {
    height: 1.25rem !important;
    width: 2.5rem !important;
}

.form-check-input:checked {
    background-color: rgba(255, 255, 255, 0.137);
    border-color: rgba(255, 255, 255, 0.4);
}

.form-check-input:focus {
    border-color: #7a7a7a;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.1);
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e")!important;
}

.form-switch svg {
    position: absolute;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    pointer-events: none;
    opacity: .8;
    transition: .2s opacity;
}

.form-switch svg#dark-icon {
    right: 18px;
}
.form-switch svg#light-icon {
    right: 36px;
}

.form-switch .form-check-input:not(:checked) + svg#light-icon {
    opacity: 0;
}

.form-switch .form-check-input:checked + svg#light-icon + svg#dark-icon {
    opacity: 0;
    filter: invert(1);
}

h1 {
    font-family: "MonumentGroteskBold";
}

.display-custom {
    font-size: calc(1.875rem + 7.5vw);
    /*calc(1.575rem + 3.9vw);*/
    letter-spacing: -.03em;
    margin-bottom: 2.5rem;
    animation: 2s letter-spacing-anim cubic-bezier(0.15, 0.6, 0.15, 1.01);
}

.letter-spacing-header {
    letter-spacing: -.03em;
}

@keyframes letter-spacing-anim {
    from {
        letter-spacing: .03em;
    }

    to {
        letter-spacing: -.03em;
    }
}

.js-cursor {
    opacity: 0;
    position: fixed;
    pointer-events: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transition: transform .2s cubic-bezier(.23, 1, .32, 1), .6s width, .6s height, .6s opacity, .3s filter, .3s border-radius;
    backdrop-filter: invert(1);
    z-index: 999;
}

.hovered {
    width: 30px;
    height: 30px;
}

.hovered-link {
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    filter: invert(1);
    mix-blend-mode: difference;
    border-radius: 0px;
}

.height1 {
    height: 100vh;
}

.height2 {
    height: 55vh;
}

/*.my-custom {
    --margin-y-value: 12rem;
    margin-top: var(--margin-y-value);
    margin-bottom: var(--margin-y-value);
}*/

.description {
    font-family: 'Inter', sans-serif;
    /*font-size: 18px !important;*/
    font-size: calc(1.175rem + .3vw);
    letter-spacing: -.01em;
}

.description-anim {
    overflow: hidden;
    animation: 1s slide-down backwards;
    animation-delay: .5s;
}

@keyframes slide-down {
    from {
        transform: translateY(-86px);
    }

    to {
        transform: translateY(0);
    }
}


.languages {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.08);
    width: fit-content;
    border-radius: 6px;
    /*border: 1px solid rgba(255, 255, 255, 0.1);*/
    /*box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.2),inset 0 1px 1px hsla(0,0%,100%,.2),inset 0 -1px 1px rgba(0,0,0,.7);*/
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .2),
        inset 0 1px 1px hsla(0, 0%, 100%, .2),
        inset 0 -1px 1px rgba(0, 0, 0, .7),
        rgba(255, 255, 255, 0.1) 0px 0px 15px;
    /*box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 15px;*/
}

.languages svg {
    width: 50px;
    height: auto;
    fill: #fff;
}

.tooltip-popup {
    position: absolute;
    top: -40px;
    pointer-events: none;
    opacity: 0;
    padding: 2px 8px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Inter', sans-serif;
    transition: .3s opacity, .3s transform;
    border-radius: 4px;
    transform: translateY(4px);
}

.tooltip-popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1) transparent transparent transparent;
}

.languages svg:hover+.tooltip-popup {
    opacity: 1;
    transform: translateY(0);
}

.wrapper-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    position: relative;
}

.work {
    position: relative;
    transform-style: preserve-3d;
    transition: .3s opacity;
    opacity: 0.5;
}

.work:hover {
    opacity: 1;
}

.work a img {
    max-width: 100%;
    border-radius: 6px;
    transition: .3s box-shadow, .2s filter;
}

.work:hover a img {
    box-shadow: rgba(255, 255, 255, 0.24) 0px 0px 15px;
}

.email,
.email-text {
    transition: .3s opacity;
}

.email-link {
    display: none;
    color: var(--bs-heading-color);
}

.email:hover .email-link {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* Center horizontally */
    width: max-content;
    display: inline-block;
    opacity: 1;
}

.email:hover .email-text,
.email-link {
    opacity: 0;
}

.onScroll {
    opacity: 0;
    transition: .6s opacity, .6s transform;
    transform: translateY(-8px) scale(0.97);
}

.scrolled {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.copyright {
    font-family: 'Inter', sans-serif;
}

.copyright a {
    color: var(--bs-heading-color);
    text-align: center;
}

@media (max-width: 576px) {
    .js-cursor {
        display: none;
    }

    * {
        cursor: auto;
    }

    header a {
        cursor: pointer;
    }
}

@media (max-width: 538px) {
    .wrapper-icons {
        flex-grow: 1;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 440px) {
    .margin-languages {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

@media (max-width: 412px) {
    header {
        font-size: 0.9rem;
    }


    header a:last-child {
        transform: translateY(1px);
    }
}

@media (max-width: 384px) {
    header {
        font-size: 0.8rem;
    }

    header a:last-child {
        transform: translateY(2px);
    }
}

@media (max-width: 357px) {
    header {
        font-size: 0.7rem;
    }

    header a:not(:last-child) {
        transform: translateY(-1px);
    }

    header a::after {
        transform: translateY(5px);
    }
}

@media (max-width: 532px) {
    .switch-width {
        display: none!important;
    }
}

/*440px*/
